<!DOCTYPE html>
<head> <title>Meme</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="10;url=http://127.0.0.1"/>
<style>
    body { background-color: black;background-repeat: no-repeat;background-position: top;}
    h1{
        text-align: center;
        font-family: Arial,sans-serif;
        background-color: black;
        color: white;
    }
    p {
        text-align: center;
        font-family: Georgia,serif;
        font-size: 48px;
        font-style: normal;
        color: white;
    }
    .image {
        text-align: center;
        max-width: 500;
        max-height: 500;

    }
</style>
</head>
<body>
    <h1>A Website to gather some meme!</h1>
    <p>Here is your meme! this will refresh in 30 seconds</p>
    <div class="image">
    <img src="{{meme_pic}}">
    </div>
    <p> Current Subreddit: {{subreddit}}</p>
</body>
</html>