<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>View Details|Caloriewise</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu:400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}" />
	</head>
	<body>
		<div class="container-fluid" id="wrapper">
			
			<div class="row" id="homeJumbo">
				<div class="overlay"></div>
				<div class="col-lg-12">
					<h1>
						<a href="{{ url_for('views.home') }}">CALORIEWISE</a>
					</h1>					
					<div class="row t20">
						<div class="col-lg-4 col-lg-offset-4">
							<ul class="nav nav-pills nav-justified">
							  <li role="presentation">
							  	<a href="{{ url_for('views.home') }}" title="Home">Records</a>
							  </li>
							  <li role="presentation">
							  	<a href="{{ url_for('views.add') }}" title="Add Food Item">Food List</a>
							  </li>
							  <li role="presentation">
								<a href="{{ url_for('auth.log_out') }}" title="log out">Log Out</a>
							</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row t20">
				<div class="col-lg-4 col-lg-offset-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<form action="{{ url_for('views.add_food_to_log', log_id=log.id) }}" method="POST" role="form">							
								<div class="form-group">
									<label>Select Food</label>
									<div class="input-group">
									  <select class="form-control" name="food-select" checked required>
										  {% for food in foods %}     
											<option value="{{ food.id }}" checked>{{ food.name }}</option>
									      {% endfor %}
					                    </select>
									  <span class="input-group-btn">
										<button type="submit" value="Submit" class="btn btn-info" id="add-btn">
										  <i class="glyphicon glyphicon-plus-sign"></i> Add Food
										</button>
									  </span>
									</div>
								</div>
							
							</form>	
						</div>
					</div>
				</div>
			</div>			 
			<center>
				{% with messages = get_flashed_messages(with_categories=true) %}
				  {% if messages %}
					{% for category, message in messages %}
					  <div class="col-lg-4 col-lg-offset-4 alert alert-{{ category }} text-center">
						{{ message }}
					  </div>
					{% endfor %}
				  {% endif %}
				{% endwith %}
			</center>
			<div class="row t20">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="lean-h text-black text-center">
								<i class="glyphicon glyphicon-calendar text-primary"></i> {{ log.date.strftime('%d %B %Y') }}
							</h3>
							<div class="row text-center">
								<div class="col-lg-3">
									<h4 class="lean-h">
										Protein: &nbsp;<strong class="f25">{{ totals['protein']*totals['quantity'] }}</strong>
									</h4>
								</div>
								<div class="col-lg-3">
									<h4 class="lean-h">
										Carbohydrates: &nbsp;<strong class="f25">{{ totals['carbs']*totals['quantity'] }}</strong>
									</h4>
								</div>
								<div class="col-lg-3">
									<h4 class="lean-h">
										Fat: &nbsp;<strong class="f25">{{ totals['fat']*totals['quantity'] }}</strong>
									</h4>
								</div>
								<div class="col-lg-3">
									<h4 class="lean-h">
										Calories: &nbsp;<strong class="f25">{{ totals['calories']*totals['quantity'] }}</strong>
									</h4>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th style="width: 10%;">Quantity</th>
										<th style="width: 10%;">Protein</th>
										<th style="width: 16%;">Carbohydrates</th>
										<th style="width: 10%;">Fat</th>
										<th style="width: 12%;">Calories</th>
										<th style="width: 20%;">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for food in log.foods %}
									<tr>
										<td>{{ food.name }}</td>
										<td>{{ food.quantity }}</td>
										<td>{{ food.proteins*food.quantity }}</td>
										<td>{{ food.carbs*food.quantity }}</td>
										<td>{{ food.fats*food.quantity }}</th>
											<td>{{ food.calories*food.quantity }}</td>
										<td>
											<a href="{{ url_for('views.remove_food_from_log', log_id=log.id, food_id=food.id) }}" class="btn btn-danger btn-xs">
												<i class="glyphicon glyphicon-trash"></i> Delete
											</a> 
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

							<div class="panel-body text-bold text-right">
								<a class = 'btn btn-primary btn-xs pull-right"' href="{{ url_for('views.home') }}" title="Home">
									<i class='glyphicon glyphicon-check'></i> OK
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
</body>
</html>